* {
  margin: 0;
  padding: 0; }

body {
  background: #110022;
  color: white;
  overflow: hidden; }

li {
  list-style: none; }

.container {
  display: -webkit-box;
  height: 100%;
  /* TODO */
  height: 500px;
  width: 100%;
  /* TODO */
  width: 700px; }

.left-pane {
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  border-right: 1px solid #bbbbbb; }

.messages {
  -webkit-box-flex: 1;
  border-bottom: 1px solid #bbbbbb;
  overflow: auto;
  overflow-x: hidden;
  padding: 5px; }
  .messages .line {
    width: 100%;
    position: relative; }
    .messages .line .sender {
      margin-right: 10px; }
    .messages .line .text {
      color: #fff; }
      .messages .line .text a, .messages .line .text a:visited, .messages .line .text a:active, .messages .line .text a:hover {
        color: #aaf; }
      .messages .line .text img {
        width: 200px;
        height: 150px;
        border: 1px solid white; }
      .messages .line .text iframe {
        width: 200px;
        height: 150px;
        border: 1px solid white;
        margin-left: 10px; }
    .messages .line .timestamp {
      color: gray;
      position: absolute;
      right: 0; }
  .messages .privmsg .text {
    color: #fff; }
  .messages .notice .text {
    color: #999; }

.command {
  background: #110022;
  color: white;
  font-size: 12px;
  height: 25px;
  width: 95%;
  padding: 0 5px;
  border: none; }

.logs {
  border-top: 1px solid #bbbbbb;
  font-size: 12px;
  height: 150px;
  overflow: auto;
  overflow-x: hidden;
  padding: 5px; }
  .logs .timestamp {
    color: gray;
    margin-right: 5px; }
  .logs .notice {
    color: gray; }
  .logs .warn {
    color: red; }
  .logs .error {
    color: red; }

.right-pane {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  width: 200px; }

.members {
  -webkit-box-flex: 1;
  border-bottom: 1px solid #bbbbbb;
  overflow: auto;
  overflow-x: hidden;
  padding: 5px; }

.channels {
  height: 300px;
  padding: 5px;
  overflow: auto;
  overflow-x: hidden; }
  .channels .server {
    font-weight: bold; }
    .channels .server .channel {
      font-weight: normal;
      margin-left: 10px; }
    .channels .server .selected {
      background: #009; }
  .channels .closed {
    color: gray; }

.settings-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 100, 0.5);
  display: none; }

.settings-background.show {
  display: block; }

.server-settings {
  border-bottom: 1px solid black;
  -webkit-box-orient: vertical;
  -webkit-transition: top 0.3s linear;
  background: -webkit-gradient(linear, left top, left bottom, from(#aaaaee), to(#666699));
  display: -webkit-box;
  height: 230px;
  left: 0;
  position: absolute;
  top: -300px;
  width: 350px;
  left: 50%;
  margin-left: -175px; }
  .server-settings button {
    border: 1px solid black;
    border-radius: 2px;
    color: white;
    padding: 2px 5px;
    margin-left: 3px;
    background: -webkit-gradient(linear, left top, left bottom, from(#aaaaee), to(#666699));
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5); }
  .server-settings #channel-list li {
    font-size: small; }
  .server-settings #cancel, .server-settings #channel-list li button {
    background: -webkit-gradient(linear, left top, left bottom, from(#eeaaaa), to(#996666)); }
  .server-settings .settings-head {
    width: 100%;
    height: 30px;
    padding: 5px;
    padding-top: 20px; }
    .server-settings .settings-head input {
      width: 70%;
      float: left; }
    .server-settings .settings-head button {
      float: left; }
  .server-settings .settings-body {
    -webkit-box-flex: 1;
    display: -webkit-box;
    width: 100%;
    padding: 10px; }
    .server-settings .settings-body .general-settings {
      -webkit-box-flex: 1; }
      .server-settings .settings-body .general-settings input {
        width: 85%; }
      .server-settings .settings-body .general-settings select {
        width: 85%; }
    .server-settings .settings-body .channel-list {
      width: 50%; }
    .server-settings .settings-body .channel-settings {
      width: 30%;
      display: none; }

.server-settings.show {
  -webkit-box-shadow: 0 0 30px 3px black;
  top: 0; }

.color0 {
  color: #bbb; }

.color1 {
  color: #bbd; }

.color2 {
  color: #bbf; }

.color3 {
  color: #bdb; }

.color4 {
  color: #bdd; }

.color5 {
  color: #bdf; }

.color6 {
  color: #bfb; }

.color7 {
  color: #bfd; }

.color8 {
  color: #bff; }

.color9 {
  color: #dbb; }

.color10 {
  color: #dbd; }

.color11 {
  color: #dbf; }

.color12 {
  color: #ddb; }

.color13 {
  color: #ddd; }

.color14 {
  color: #ddf; }

.color15 {
  color: #dfb; }

.color16 {
  color: #dfd; }

.color17 {
  color: #dff; }

.color18 {
  color: #fbb; }

.color19 {
  color: #fbd; }

.color20 {
  color: #fbf; }

.color21 {
  color: #fdb; }

.color22 {
  color: #fdd; }

.color23 {
  color: #fdf; }

.color24 {
  color: #ffb; }

.color25 {
  color: #ffd; }

.color26 {
  color: #fff; }
