$background-color:#110022;
$separator-border:1px solid #bbb;

* {
  margin:0;
  padding:0;
}
body {
  background:$background-color;
  color:white;
  overflow:hidden;
}
li {
  list-style:none;
}
.container {
  display:-webkit-flex; 
  height:500px;
  width:700px;
}
.left-pane {
  -webkit-flex:1;
  -webkit-flex-direction:column;
  display:-webkit-flex; 
  overflow:hidden;
  border-right:$separator-border;
}
.messages {
  -webkit-flex:1;
  border-bottom:$separator-border;
  //overflow:scroll;
  overflow:auto;
  overflow-x:hidden;
  padding:5px;

  .line {
    width:100%;
    position:relative;

    .sender {
      margin-right:10px;
    }
    .text {
      color: #fff;
      text-shadow:2px 2px 2px $background-color;

      a, a:visited, a:active, a:hover {
        color:#aaf;
      }
      img {
        width:200px;
        height:150px;
        border:1px solid white;
      }
      iframe {
        width:200px;
        height:150px;
        border:1px solid white;
        margin-left:10px;
      }
    }
    .timestamp {
      color:gray;
      position:absolute;
      right:0;
      z-index:-1;
    }
  }
  .privmsg {
    .text {
      color:#fff;
    }
  }
  .notice {
    .text {
      color:#999;
    }
  }
}
.command {
  background:$background-color;
  color:white;
  font-size:12px;
  height:25px;
  width:95%;
  padding:0 5px;
  border:none;
}
.logs {
  border-top:$separator-border;
  font-size:12px;
  height:150px;
  //overflow:scroll;
  overflow:auto;
  overflow-x:hidden;
  padding:5px;

  .timestamp {
    color:gray;
    margin-right:5px;
  }

  .notice {
    color:gray;
  }

  .warn {
    color:red;
  }

  .error {
    color:red;
  }
}
.right-pane {
  -webkit-flex-direction:column;
  display:-webkit-flex; 
  width:200px;
}
.members {
  -webkit-flex:1;
  border-bottom:$separator-border;
  //overflow:scroll;
  overflow:auto;
  overflow-x:hidden;
  padding:5px;
}
.channels {
  height:300px;
  padding:5px;
  overflow:auto;
  overflow-x:hidden;

  .server {
    font-weight:bold;

    .channel {
      font-weight:normal;
      margin-left:10px;
    }
    .selected {
      background:#009;
    }
  }
  .closed {
    color:gray;
  }
}
.settings-background {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,100,0.5);
  display:none;
}
.settings-background.show {
  display:block;
}
.server-settings {
  border-bottom:1px solid black;

  -webkit-flex-direction:column;
  -webkit-transition:top 0.3s linear;
  background:-webkit-gradient(linear, left top, left bottom, from(#aae), to(#669));
  display:-webkit-flex; 
  height:230px;
  left:0;
  position:absolute;
  top:-300px;
  width:350px;
  left:50%;
  margin-left:-175px;

  button {
    border:1px solid black;
    border-radius:2px;
    color:white;
    padding:2px 5px;
    margin-left:3px;
    background:-webkit-gradient(linear, left top, left bottom, from(#aae), to(#669));
    border-top:1px solid rgba(255,255,255,0.5);
    border-left:1px solid rgba(255,255,255,0.5);
    border-bottom:1px solid rgba(0,0,0,0.5);
    border-right:1px solid rgba(0,0,0,0.5);
  }

  #channel-list li {
    font-size:small;
  }

  #cancel, #channel-list li button {
    background:-webkit-gradient(linear, left top, left bottom, from(#eaa), to(#966));
  } 

  .settings-head {
    width:100%;
    height:30px;
    padding:5px;
    padding-top:20px;

    input {
      width:70%;
      float:left;
    }

    button {
      float:left;
    }
  }

  .settings-body {
    -webkit-flex:1;
    display:-webkit-flex; 
    width:100%;
    padding:10px;

    .general-settings {
      -webkit-flex:1;

      input {
        width:85%;
      }

      select {
        width:85%;
      }
    }

    .channel-list {
      width:50%;
    }

    .channel-settings {
      width:30%;
      display:none;
    }
  }
}
.server-settings.show {
  -webkit-box-shadow:0 0 30px 3px black;
  top:0;
}
.color0 { color:#bbb; }
.color1 { color:#bbd; }
.color2 { color:#bbf; }
.color3 { color:#bdb; }
.color4 { color:#bdd; }
.color5 { color:#bdf; }
.color6 { color:#bfb; }
.color7 { color:#bfd; }
.color8 { color:#bff; }
.color9 { color:#dbb; }
.color10 { color:#dbd; }
.color11 { color:#dbf; }
.color12 { color:#ddb; }
.color13 { color:#ddd; }
.color14 { color:#ddf; }
.color15 { color:#dfb; }
.color16 { color:#dfd; }
.color17 { color:#dff; }
.color18 { color:#fbb; }
.color19 { color:#fbd; }
.color20 { color:#fbf; }
.color21 { color:#fdb; }
.color22 { color:#fdd; }
.color23 { color:#fdf; }
.color24 { color:#ffb; }
.color25 { color:#ffd; }
.color26 { color:#fff; }
