$background-color:#110022;
$separator-border:1px solid #bbb;

* {
  margin:0;
  padding:0;
}
body {
  background:$background-color;
  color:white;
  overflow:hidden;
}
li {
  list-style:none;
}
.container {
  display:-webkit-box; 
  height:100%; /* TODO */
  height:500px;
  width:100%; /* TODO */
  width:700px;
}
.left-pane {
  -webkit-box-flex:1;
  -webkit-box-orient:vertical;
  display:-webkit-box; 
  overflow:hidden;
  border-right:$separator-border;
}
.messages {
  -webkit-box-flex:1;
  border-bottom:$separator-border;
  //overflow:scroll;
  overflow:auto;
  padding:5px;

  .line {
    width:100%;
    position:relative;

    .sender {
      color:#ccc;
      margin-right:10px;
    }

    .text {
    }

    .timestamp {
      color:gray;
      position:absolute;
      right:0;
    }
  }
}
.command {
  background:$background-color;
  color:white;
  font-size:12px;
  height:25px;
  width:95%;
  padding:0 5px;
  border:none;
}
.logs {
  border-top:$separator-border;
  font-size:12px;
  height:150px;
  //overflow:scroll;
  overflow:auto;
  padding:5px;

  .timestamp {
    color:gray;
    margin-right:5px;
  }

  .notice {
    color:gray;
  }
}
.right-pane {
  -webkit-box-orient:vertical;
  display:-webkit-box; 
  width:200px;
}
.members {
  -webkit-box-flex:1;
  border-bottom:$separator-border;
  //overflow:scroll;
  overflow:auto;
  padding:5px;
}
.channels {
  height:300px;
  padding:5px;

  .server {
    font-weight:bold;

    .channel {
      font-weight:normal;
      margin-left:10px;
    }
    .selected {
      background:#009;
    }
  }
}
.settings-background {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,100,0.5);
  display:none;
}
.settings-background.show {
  display:block;
}
.server-settings {
  border-bottom:1px solid black;

  -webkit-box-orient:vertical;
  -webkit-transition:top 0.3s linear;
  background:-webkit-gradient(linear, left top, left bottom, from(#aae), to(#669));
  display:-webkit-box; 
  height:230px;
  left:0;
  position:absolute;
  top:-300px;
  width:350px;
  left:50%;
  margin-left:-175px;

  button {
    border:1px solid black;
    border-radius:2px;
    color:white;
    padding:2px 5px;
    margin-left:3px;
    background:-webkit-gradient(linear, left top, left bottom, from(#aae), to(#669));
    border-top:1px solid rgba(255,255,255,0.5);
    border-left:1px solid rgba(255,255,255,0.5);
    border-bottom:1px solid rgba(0,0,0,0.5);
    border-right:1px solid rgba(0,0,0,0.5);
  }

  #cancel, #channel-list li button {
    background:-webkit-gradient(linear, left top, left bottom, from(#eaa), to(#966));
  } 

  .settings-head {
    width:100%;
    height:30px;
    padding:5px;
    padding-top:20px;

    input {
      width:70%;
      float:left;
    }

    button {
      float:left;
    }
  }

  .settings-body {
    -webkit-box-flex:1;
    display:-webkit-box; 
    width:100%;
    padding:10px;

    .general-settings {
      -webkit-box-flex:1;

      input {
        width:85%;
      }

      select {
        width:85%;
      }
    }

    .channel-list {
      width:50%;
    }

    .channel-settings {
      width:30%;
      display:none;
    }
  }
}
.server-settings.show {
  -webkit-box-shadow:0 0 30px 3px black;
  top:0;
}
